.second-nav ul li {
    text-decoration-color: blue;
}

.second-nav ul {
    border-left: 1px solid gray;
    border-right: 1px solid gray;
    width: 200px;
    height: 600px;
    float: left;
}

.container img {
    float: right;
}

article {
    float: left;
}